__pycache__/
*.pyc
*.pyo
*.pyd
**/__pycache__/

# macOS
.DS_Store

# Virtual environment
venv/
mailer/.env
backend/.env


# SQLite DB
*.db

# Flask cache files (optional)
instance/
*.sqlite3

# VS Code settings (optional)
.vscode/
